@page "/"
@inject NavigationManager Navigation
@inject IStateBox<List<TaskItem>> sessionState
@rendermode InteractiveServer

<h3>タスク一覧</h3>

<div>
    <RadzenButton Click="NavigateToTaskRegister">
        タスクを追加
    </RadzenButton> 
</div>

<div>
    <RadzenDataGrid TItem="TaskItem" Data="taskList">
        <Columns>
            <RadzenDataGridColumn Title="題名">
                <Template>
                    @context.Title
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="期限">
                <Template>
                    @context.DueDate.ToString("yyyy/MM/dd")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="状態">
                <Template>
                    @context.TaskStatus
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="内容">
                <Template>
                    @context.Description.Split('\n','\r')[0]
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>